<nav class="admin-nav">
  <button class="nav-button" *ngIf="isAdmin()" routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</button>
  <button class="nav-button" *ngIf="isAdmin()" routerLink="/admin/assign-role" routerLinkActive="active">Assign Role</button>
  <button class="nav-button" *ngIf="isAdmin()" routerLink="/admin/add-language" routerLinkActive="active">Add Language</button>
  <button class="nav-button logout-button" (click)="logout()">Logout</button>
</nav>
<router-outlet></router-outlet>